###### Data Types

In [54]:
2 ** 4

16

In [3]:
2**(-4)

0.0625

In [11]:
5%2

1

In [12]:
'hai'

'hai'

In [13]:
"hai"

'hai'

In [8]:
"i can't do it"

"i can't do it"

In [9]:
'i can"t do it'

'i can"t do it'

In [10]:
'i can't do it'

SyntaxError: invalid syntax (<ipython-input-10-6002a9928c86>, line 1)

In [11]:
"i can"t do it"

SyntaxError: invalid syntax (<ipython-input-11-2f7f8857c799>, line 1)

In [6]:
'he said."hello! Im saikiran" '

'he said."hello! Im saikiran" '

In [16]:
"hello 'im saikiran' "

"hello 'im saikiran' "

In [17]:
"hello 'i'm saikiran' "

"hello 'i'm saikiran' "

In [22]:
"hello "how r u" "

SyntaxError: invalid syntax (<ipython-input-22-adb60ef98099>, line 1)

###### Variable Assignment

In [191]:
x = 'sai'
y = "kiran"

In [192]:
x + y

'saikiran'

In [193]:
print(type(x))

<class 'str'>

In [194]:
print(x+y)

saikiran

In [195]:
print(y)

kiran

In [28]:
y

'kiran'

In [30]:
"1"

'1'

In [1]:
'1'

'1'

In [186]:
name ='sai'
age =20

In [3]:
print(type(age))

<class 'int'>

In [185]:
print(f"hello\nakhi")

hello
akhi

In [187]:
'this is {}, im {} yrs old'.format(name,age)

'this is sai, im 20 yrs old'

In [190]:
"this is {}, im {} yrs old".format(name,age)

'this is sai, im 20 yrs old'

In [188]:
'this is {}, im {} yrs old'.format('kiran',age)

'this is kiran, im 20 yrs old'

In [189]:
print('this is {}, im {} yrs old'. format('kiran',age))

this is kiran, im 20 yrs old

In [8]:
'this is {}, im {x} yrs old. If repeated {x} '. format('kiran',x=age)

'this is kiran, im 20 yrs old. If repeated 20 '

# strings into indexing strings

###### Lists

In [14]:
my_list= ['a','b','c']

In [15]:
my_list[0]

'a'

In [16]:
my_list[1:3]

['b', 'c']

In [17]:
my_list[1:]

['b', 'c']

In [20]:
my_list[1]='x'

In [21]:
my_list

['a', 'x', 'c']

###### Dictionaries

In [53]:
D1 = {'a':{'b':{'c':{'d'}}}}

In [54]:
D1["a"]['b']['c'][0]

TypeError: 'set' object is not subscriptable

In [55]:
D1["a"]['b']['c'][0]= "NEW"

TypeError: 'set' object does not support item assignment

In [47]:
D2 = {'a':{'b':{'c':('d')}}}

In [48]:
D2["a"]['b']['c'][0]

'd'

In [42]:
D2["a"]['b']['c'][0] = "NEW"

TypeError: 'str' object does not support item assignment

In [2]:
d = {'k1':{'inner_key':['1','2','3']}}

In [3]:
d

{'k1': {'inner_key': ['1', '2', '3']}}

In [4]:
d['k1']['inner_key'][1] = 'new'

In [5]:
d

{'k1': {'inner_key': ['1', 'new', '3']}}

In [10]:
d['k1']['inner_key'][1]

'new'

In [15]:
print(d['k1']['inner_key'][:2])

['1', 'new']

In [13]:
d

{'k1': {'inner_key': ['1', 'new', '3']}}

###### Tuples

In [1]:
t = ('a','b','c')

In [2]:
t

('a', 'b', 'c')

In [9]:
print(t[1:][0])

b

In [4]:
t[1] = 'x'  #so tuples are immutable. i.e user can't update a value

TypeError: 'tuple' object does not support item assignment

###### Tuples in Dictionaries

In [5]:
t

('a', 'b', 'c')

In [43]:
Dt = {'k1':{'inner_key':t}}

In [52]:
Dt['k1']['inner_key']

('a', 'b', 'c')

In [53]:
print(Dt['k1']['inner_key'][1])

b

In [54]:
Dt['k1']['inner_key'][1]= 'ne'

TypeError: 'tuple' object does not support item assignment

###### Sets

In [57]:
s = {1,2,2,4,8,1}

In [59]:
s[0]

TypeError: 'set' object is not subscriptable

In [66]:
s[0]  = 'a'

TypeError: 'set' object does not support item assignment

In [61]:
s.add(5)

In [32]:
s

{1, 2, 4, 5, 8}

###### Converting list into a set

In [67]:
lst = [1,2,6,1,2,8,3,2,9,1]

In [68]:
lst[5]

8

In [69]:
set(lst)

{1, 2, 3, 6, 8, 9}

In [70]:
set([1,2,6,1,2,8,3,2,9,1])

{1, 2, 3, 6, 8, 9}

In [142]:
set([1,2,2,2,3,3,5,5,7,8,8])

{1, 2, 3, 5, 7, 8}

###### Comparison Operators

In [15]:
'sai' == 'kiran'

False

###### Logic Operators

In [18]:
(1 == 2) and ((2 == 3) or (4 == 4))

False

If,elif, else Statements

In [71]:
if 1 < 2:
    print('true')

true

In [72]:
if 1 > 2:
    print('no output')

In [46]:
if 1 == 2:
    print('1')
elif 3 == 3:
    print('2')
elif 4 == 4:
    print('8')
else:
    print('3')

2

###### for Loops

In [32]:
set = [1,2,3,4,5]
for n in set:
    print(n)

1
2
3
4
5

In [34]:
for n in set:
    print('hi')

hi
hi
hi
hi
hi

In [35]:
for n in set:
    print(n*n)

1
4
9
16
25

###### while Loops

In [1]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [4]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

###### range()

In [49]:
range(0,6)

range(0, 6)

In [4]:
for x in range(0,6):
    print(x)

0
1
2
3
4
5

In [6]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [8]:
list(range(3,11,2))

[3, 5, 7, 9]

###### list comprehension

In [11]:
x = [1,2,3,4]

In [53]:
out = []       #for loop     
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [12]:
output = [num**2 for num in x]  # applied as list compreshension

In [13]:
output

[1, 4, 9, 16]

###### functions

In [99]:
x=2
print(x+x)

4

In [55]:
def my_func(y):
    print(y+y)

In [18]:
my_func('2')  #input given as string

22

In [19]:
my_func(2)   #input given as int

4

In [44]:
def my_fun(name):
    print("hi!"+" "+ name)

In [45]:
my_fun('kiran')

hi! kiran

In [46]:
def my_fun1(name = "sai", age = '21'):
    print( name +","+ age)

In [47]:
my_fun1()   #input given during defining func

sai,21

In [48]:
my_fun1('kiran','20')         #input given during function call

kiran,20

In [50]:
def add(num):
    """
    this is a doc string.
    this function add the same no 
    """
    return num + num

In [51]:
add(5)

10

In [52]:
add  #shift + tab gives signiture and the doc string

In [1]:
def times2(var):return var*2

In [2]:
times2(6)

12

###### map and filter

In [4]:
seq = [1,2,3,4,5]

In [5]:
map(times2,seq)

In [6]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

###### lambda expressions

In [206]:
t = lambda n :n*2

In [208]:
t(8)

16

In [8]:
list(map(lambda m:m*2,seq))

[2, 4, 6, 8, 10]

In [9]:
#filter

In [215]:
list(filter(lambda i:i%2 == 1,seq))

[1, 3, 5]

###### methods

In [47]:
s = 'He ran away'

In [ ]:
s.     #tab to show all methods

In [49]:
s.lower()

'he ran away'

In [50]:
s.upper()

'HE RAN AWAY'

In [52]:
  s.split()

['He', 'ran', 'away']

In [226]:
tweet = "Go Sports! #sports"

In [227]:
tweet.split()

['Go', 'Sports!', '#sports']

In [229]:
tweet.split('#')

['Go Sports! ', 'sports']

In [230]:
tweet.split('#')[1]

'sports'

In [14]:
d = {'k1': 1, 'k2': 2}

In [18]:
d.keys()

dict_keys(['k1', 'k2'])

In [20]:
d.values()

dict_values([1, 2])

In [21]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [22]:
list(d.values())

[1, 2]

In [32]:
lst =[1,2,3,5,6,4]

In [33]:
item = lst.pop()   #lst ele is poped

In [34]:
item

4

In [35]:
lst.pop()

6

In [36]:
lst

[1, 2, 3, 5]

In [37]:
first = lst.pop(1)  #index 1 ele is poped

In [38]:
first

2

In [39]:
lst

[1, 3, 5]

In [287]:
'x' in ['a','b','c']   #in operator

False

In [288]:
'a' in ['a','b']

True

###### tuple unpacking

In [41]:
x = [(1,2),(3,4),(5,6)]

In [42]:
x[0][1]

2

In [43]:
for item in x:
    print (item)

(1, 2)
(3, 4)
(5, 6)

In [44]:
for a,b in x:
    print (b)

2
4
6

In [45]:
for a,b in x:
    print (b)
    print (a)

2
1
4
3
6
5

# end

In [2]:
import sys
!{sys.executable} -m pip install playsound

Requirement already satisfied: playsound in c:\users\reddy\anaconda3\lib\site-packages (1.2.2)

In [ ]:
from playsound import playsound
playsound('D:\\play.mp3')

In [15]:
a = 1
b = "hi"

In [16]:
print('dep......jkakda ', a, b)

dep......jkakda  1 hi

In [18]:
print('Department with section %s with Student ID : %d Added' % (b,a))

Department with section hi with Student ID : 1 Added

In [196]:
print("Department with section %s with Student ID : %d Added"%section, %studentID)

SyntaxError: invalid syntax (1901985854.py, line 1)

In [4]:
# list(range(3,8))